[Unit]
Description=Emacs: actually it's spacemacs

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
# ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
ExecStop=/usr/bin/emacsclient --eval "(progn (setq kill-emacs-hook 'nil) (kill-emacs))"
# Environment=
Restart=always

# Remove the limit in startup timeout, since emacs
# cloning and building all packages can take time
TimeoutStartSec=0

[Install]
WantedBy=default.target
