[Unit]
Description=Emacs: actually it's spacemacs

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
; Environment=
Restart=always

[Install]
WantedBy=default.target
